.address .editableform textarea.form-control  {
    width: 135%;
    max-width: 400%;
    font-size: inherit;
}

.address .address-item-detail.editable-pre-wrapped{
	white-space: normal;
	
}

@media (min-width: 768px) {

	.address .editableform textarea.form-control  {
	    width: 135%;
	}

}

@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}